<p>home works!</p>
<div class="form-container">
    <h2>Registration Form</h2>
    <form>
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" id="firstname" name="firstname">
      </div>
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" id="lastname" name="lastname">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email">
      </div>
      <div class="form-group">
        <label for="mobile">Mobile</label>
        <input type="text" id="mobile" name="mobile">
      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <select id="country" name="country">
          <option value="USA">USA</option>
          <option value="Canada">Canada</option>
          <option value="UK">UK</option>
          <option value="Australia">Australia</option>
          
        </select>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
  